body {
  background-color: whitesmoke;
}

.title {
  padding-top: 30px;
  font-size: 3rem;
  color: blueviolet;
}

.content {
  margin: auto;
  border: 2px solid black;
  width: 80%;
  height: 100%;
  text-align: center;
  position: relative;
  top: 250px;
  background-color: white;
}

.myForm {
  font-size: large;
  font-weight: 600;
  color: peru;
  padding-bottom: 30px;
  padding-top: 10px;
}

.myForm select {
  color: peru;
  font-weight: 500px;
  font-size: large;
  margin-right: 15px;
  padding-right: 50px;
}

#submit-btn {
  padding: 5px;
  background-color: blueviolet;
  color: wheat;
  border: 1px solid peru;
  border-radius: 5px;
  width: 13%;
  font-size: x-large;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 60px;
}

#submit-btn:hover {
  cursor: pointer;
  color: white;
  border-color: white;
}

@media (max-width: 800px) {
  .title {
    padding-top: 10px;
    font-size: 2rem;
  }
  .group-input {
    display: block;
  }
  .group-input select {
    width: 80%;
    margin-right: 0;
    font-size: larger;
  }
  .group-input label {
    font-size: larger;
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .content {
    text-align: center;
  }
  #submit-btn {
    width: 100px;
    font-size: medium;
  }

  @media (max-width: 400px) {
    .title {
      padding-top: 10px;
      font-size: 1.5rem;
      margin-bottom: 0;
    }
    .group-input label {
      font-size: large;
    }
    .group-input select {
      width: 80%;
      margin-right: 0;
      font-size: large;
    }
    .myForm {
      padding-bottom: 0;
    }
  }
}
